/**
 * @Author: Echo
 * @Date:   2017-07-10T16:01:38+08:00
 * @Last modified by:   Echo
 * @Last modified time: 2017-07-10T16:42:46+08:00
 */

.form-line {
  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.form-line .label {
  display: inline-block;
  text-align: center;
  width: 60px;
}
