/**
 * @Author: Echo
 * @Date:   2017-07-03T16:14:20+08:00
 * @Last modified by:   Echo
 * @Last modified time: 2017-07-03T16:20:06+08:00
 */
.footer {
  padding-bottom: 10px;
}

.footer .links {
  text-align: center;
  color: #666;
  line-height: 30px;
}
.footer .links .link {
  padding: 0 10px;
}
.footer .copyright {
  text-align: center;
  color: #666;
  line-height: 30px;
}
