/**
 * @Author: Echo
 * @Date:   2017-06-30T11:10:02+08:00
 * @Last modified by:   Echo
 * @Last modified time: 2017-07-10T15:33:23+08:00
 */

.nav-simple {
  height: 60px;
  line-height: 60px;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
.nav-simple .logo {
  font-size: 26px;
  font-weight: bold;
  color: #c60023;
  text-decoration: none;
}
